[submodule "src/libs/QtAds"]
	path = src/libs/QtAds
	url = ../../githubuser0xFFFF/Qt-Advanced-Docking-System
[submodule "src/libs/QCodeEditor"]
	path = src/libs/QCodeEditor
	url = ../../Megaxela/QCodeEditor
